# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.egg-info/
*.egg
.venv/
.env
.streamlit_env

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data
data/

# Models
models/

# Dagster temporary files
.tmp_dagster_home_*/

# VSCode
.vscode/

# Pip cache
__pypackages__/

# ===== Runtime / local artifacts =====
data-artifact/
artifacts/
data/
logs/
models/

# ===== Notebooks =====
notebooks/