name: Daily MLOps Forecast Pipeline

on:
  workflow_dispatch:

jobs:
  run_pipeline:
    runs-on: ubuntu-latest

    steps:
      # ***** Checkout repository *****
      - name: Checkout repository
        uses: actions/checkout@v4

      # ***** Setup Python *****
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      # ***** Install Python dependencies *****
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r pipeline_requirements.txt

      # ***** Install Hugging Face CLI *****
      - name: Install HuggingFace CLI
        run: |
          curl -LsSf https://hf.co/cli/install.sh | bash

      # ***** Run Dagster pipeline *****
      - name: Run Dagster pipeline
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          echo "=== Running pipeline via Dagster ==="
          PYTHONPATH=. dagster job execute \
            -f src/flow/run_full_pipeline_dagster.py \
            -j full_pipeline

      # ***** Update artifacts on Hugging Face *****
      - name: Update artifacts on HuggingFace
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          echo "=== Updating artifacts ==="
          PYTHONPATH=. python src/updating_artifacts/overwrited_artifacts/update_artifacts.py


